* {
    box-sizing: border-box;
  }
  
  body {
    background: url('https://kartinkin.net/pics/uploads/posts/2022-08/1660149370_32-kartinkin-net-p-fon-dlya-menyu-igri-krasivo-32.png');
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
  }

  .square {
    width: 16px;
    height: 16px;
    background: #1f1f1f; 
    margin: 2px;
    box-shadow: 0 0 2px #000;
    transition: 3s ease;
    border-radius: 5px;
}

.square:hover {
    transition-duration: 0s;
}